
 <!--News API-->
 <div class="container" id="container">
  <div class="container_notice" id="notice_1">
    <div class="image">
      <img [src]="this.listNotices[this.notices[0]]['urlToImage']">
    </div>
    <div class="container_2">
      <div class="title"><h2>{{this.listNotices[this.notices[0]]['title']}}</h2></div>
      <div class="message"><p>{{this.listNotices[this.notices[0]]['description']}}</p></div>
    </div>
  </div>
</div>
<div class="container" id="container">
  <div class="container_notice" id="notice_2">
    <div class="image">
      <img [src]="this.listNotices[this.notices[1]]['urlToImage']">
    </div>
    <div class="container_2">
      <div class="title"><h2>{{this.listNotices[this.notices[1]]['title']}}</h2></div>
      <div class="message"><p>{{this.listNotices[this.notices[1]]['description']}}</p></div>
    </div>
  </div>
</div>
<!--
<div class="container" id="container">
  <div class="container_notice" id="notice_3">
    <div class="image">
      <img [src]="this.listNotices[this.notices[2]]['urlToImage']">
    </div>
    <div class="container_2">
      <div class="title"><h2>{{this.listNotices[this.notices[2]]['title']}}</h2></div>
      <div class="message"><p>{{this.listNotices[this.notices[2]]['description']}}</p></div>
    </div>
  </div>
</div>
-->
<!--JasonPlaceHolder
Descomentar el siguiente HTML para hacer uso de la API Rest Jason Place Holder-->
<!--
<div class="container" id="container">
  <div class="container_notice" id="notice_1" >
    <div class="image">
      <img [src]="this.listNotices[this.notices[0]]['thumbnailUrl']">
    </div>
    <div class="container_2">
      <div class="title"><h2>{{this.listNotices[this.notices[0]]['title']}}</h2></div>
      <div class="message"><p>{{this.listNotices[this.notices[0]]['id']}}</p></div>
    </div>
  </div>
</div>

<div class="container" id="container">
  <div class="container_notice" id="notice_2">
    <div class="image">
      <img [src]="this.listNotices[this.notices[1]]['thumbnailUrl']">
    </div>
    <div class="container_2">
      <div class="title"><h2>{{this.listNotices[this.notices[1]]['title']}}</h2></div>
      <div class="message"><p>{{this.listNotices[this.notices[1]]['id']}}</p></div>
    </div>
  </div>
</div>

-->




